body{
  background-color: #447799;
}
.wrapper{
  width: 445px;
  margin: 0 auto;
  background-color: #44bbcc;

}
.main, .sidebar{
  float:left;
}

.sidebar{
  width:20px;
}

.main{
  width: 425px;
}
.create{
}
.edit{
  top: 60%;
  width: 250px;
}
.edit input{
  display: inline-block;

}
header{
  height:20px;
  width: 100%;
  position: relative;
  background-color:#68B8E2;
}


.user{
  margin-bottom: 5px;
  background-color: #6699aa;
  width: 20px;
  font-size: 14px;
  font-family: Helvetica;
  display:inline-block;
  position: relative;
  overflow: hidden;
  height:100px;
  -webkit-transition: width 600ms ease, background-color 2s;
}
.user.active{
  border:2px #0055bb solid;
  background-color: #88dddd;
  width: 300px;
  -webkit-transition: width 600ms ease, background-color 2s;
  -webkit-box-sizing: border-box;
}

.user input{
  margin-top: 0px;
  position: static;
  margin-left: 110px;

}
.stats{
  margin-top:20px;
  margin-left:100px;
  line-height: 140%;
  -webkit-box-sizing: border-box;

}
.update{
  margin-top: 20px;
}
.delete{
  position: absolute;
  height: 18px;
  width: 18px;
  left:280px;
  top: 80px;
  background-color: red;
  background-image: url('icons/remove.png');
  display: inline;
}
.tab{
  width:10%;
  height:100%;
  float:left;
  position: absolute;
}
.info{
  width:90%;
  height: 100%;
  float: left;
}
.stats:hover{
  border: 1px blue dashed;
}
.expandbutton{
  position: absolute;
  height: 18px;
  width: 18px;
  top:80px;
  background-color: green;
  background-image: url('icons/expand.png');
  display: inline;
}
.post{
  display:inline-block;
  width: 80%;
  border: 1px black solid;
  -webkit-box-sizing: border-box;
  background-color: #aacccc;
  height:225px;
  width:200px;
  margin: 0 0 10px 10px;
}

.post .postinfo{
  height: 50px;
}
.image{
  height:170px;
  width:200px;
}
.image img{
  max-height: 100%;
  max-width: 100%;
}
.postinfo p{
  margin-left: 10px
}
.newuserbutton{
  height:18px;
  width:18px;
  background-color: blue;
  position: absolute;
  display: inline;
  background-image: url('icons/plus.png')
}

.newuser{
  background-color: #68B8E2;
  position: absolute;
  top: 20px;
  left: -160px;
  width:160px;
  border:1px #6339F2 solid;

}
.newuser input[type="text"], .newuser input[type="email"]{
  width:150px;
}
.addgif{
  margin-left: 20px;
}

.active.edit{
  height:200px;
  z-index: 1000;
  -webkit-transition: height 600ms ease;

}


#vertical-text {
  -webkit-transform: rotate(270deg);
  height: 100%;
  text-align: center;
  margin-left: -5px;
  margin-top: 50px;
}
form.submitted .ng-invalid, .invalid{ 
  border: 2px solid red;
}
form.submitted .ng-invalid-name{

}
span{
  font-size: 10px;
  font-family: Helvetica;
}
.gifformcontainer{
  float:left;
}
.activewarn{
  float:right;
  margin-right: 10px;
  margin-top: 5px;
}
footer{
  clear:both;
}