<!DOCTYPE html>
<html>
<head>
  <title>GIFlr</title>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="angular-route.min.js"></script>


  <script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
  <script src="angularfire.min.js"></script>


  <script type="text/javascript" src="cfapp.js"></script>
  <link rel="stylesheet" href="cfapp.css"></link>
</head>
<body ng-app="cfapp">


  <div class="wrapper" ng-controller="UserController">
    <!--menu bar-->
    <header class="topbar">
      <!-- new user window/form -->
      <div class="newuserbutton" ng-click="newWindow()"></div>
      <form class="newuser" name="newuser" ng-show="newwindow" ng-submit="add(screenname, first, last, email)" novalidate ng-class="{submitted: newuser.submitted}">
        <input type="text" name="screenname" placeholder="screenname" ng-model="screenname" ng-minlength='1' ng-class="{invalid: (inusers(screenname) && newuser.submitted)}"required></input>
        <br/><span ng-show="inusers(screenname) && newuser.submitted">Screen name already taken</span>
        <span ng-show="!(screenname) && newuser.submitted">Required</span>
        </br>
        <input type="text" name="first" placeholder="first" ng-model="first" ng-minlength="1" required></input>
        <br/><span ng-show="!(first) && newuser.submitted">Required</span><br/>
        <input type="text" name="last" placeholder="last" ng-model="last"></input>
        <p></p>
        <input type="email" name="email" placeholder="email" ng-model="email"required></input>
        <br/><span ng-show="(newuser.email.$error.email || !(email))&& newuser.submitted">Invalid Email</span><br/>
        <input type="submit" value="add"></input>
      </form>

      <div class='gifformcontainer'>
        <form class ="addgif" name="addgif" ng-submit="addGif(source)">
          <input type="text" name="source" ng-keydown="addgif.submitted = false" ng-model="source" ng-class="{invalid: addgif.submitted}"></input>
          <input ng-disabled="!active" type="submit" value="add gif"></input>
          <input type="button" value="clear gifs" ng-click="clear()"></input>
          <span ng-show="addgif.submitted && !(isGif(source))">GIFs only</span>
        </form>
      </div>
      <span class="activewarn" ng-hide="active">Activate user to post GIFs</span>
    </header>
    <div class="main">
      <div ng-repeat="gif in gifList" class="post">
        <div class="image">
          <img ng-src = "{{gif.source}}"/>
        </div>
        <div class="postinfo">
          <p>Posted by {{gif.postedBy}}<br/>On {{gif.postedOn}}</p>
        </div>
      </div>
      <br/>
    </div><!--main-->


      <div class="sidebar">
        <!-- User tab -->
        <div class ="user revert" ng-repeat="(name, user) in users" ng-class = "{active: isActive(user), edit: isEditMode(user)}" ng-change:'checkList()'>

          <!-- Expand tab should have vertical text -->
          <div class="tab">
            <p id="vertical-text">{{user.screenname}}</p>
            <div class="expandbutton" ng-click="activate(user)"></div>
          </div>

          <!--Should contain user info-->
          <div class="info" ng-show="isActive(user)">
            <p class="stats" ng-hide="updateMode == user" ng-click="setUpdateMode($event, user)">{{user.first}}<br/>{{user.last}}<br/>{{user.email}}</p>
            <div class="delete" ng-click="delete(user)"></div>
            <form class = "update">
              <input type="text" ng-model="updates.first" ng-show="updateMode == user" placeholder="{{user.first}}" ng-keydown="setUpdateMode($event, user, updates)"></input>
              <input type="text" ng-model="updates.last" ng-show="updateMode == user" placeholder="{{user.last}}" ng-keydown="setUpdateMode($event, user, updates)"></input>
              <input type="text" ng-model="updates.email" ng-show="updateMode == user" placeholder="{{user.email}}" ng-keydown="setUpdateMode($event, user, updates)"></input>
            </form>
          </div>
        </div>

    </div><!--sidebar-->
    <footer><p></p></footer>
  </div><!--wrapper-->
</body>
</html>